<div class="row home-menu">
    <div class="col-sm-6 col-md-3">
        <a href="/home"><h4>   Home</h4></a>

    </div>

    <div class="col-sm-6 col-md-3">
        <a href="/compose"><h4>  Composer</h4></a>

    </div>


    <div class="col-sm-6 col-md-3">
        <form action="/logout" method="POST">

            <button type="submit"> <h4>  Logout </h4> </button>
        </form>
     

    </div>

</div>