

<%- include('partials/header') %>
<body id="home">

    
<section id="home-wrapper">
<div class="container">
    <%- include('partials/menu') %>
   

    <div class="row">
        <div class="col-sm-6">
            
            <img src="https://mdsoliman64.github.io/me/img/1..png" alt="md soliman" class="about-image">
           
        </div>
        <div class="col-sm-6 about-me">
            <h1>About Me </h1>
            <p>I am Md Soliman.As a skilled and passionate full stack web developer with expertise in the MERN (MongoDB, Express.js, React.js, Node.js) stack, combined with my proficiency in search engine optimization (SEO), I bring a comprehensive approach to creating exceptional web experiences. With a solid foundation in both front-end and back-end development, I have successfully delivered numerous projects, leveraging the power of modern web technologies</p>
           <a href="https://mdsoliman64.github.io/me/"><button class="btn btn-primary"> talk to me </button></a> 
        </div>
    </div>
</div>


    
</section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>  
</body>
</html>